<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Mission Page</h1>
    <p>Name:         <%= marsMissions.name %></p><br>
    <p>Launch Date:  <%= marsMissions.launchDate %></p><br>
    <p>Operator:     <%= marsMissions.operator %></p><br>
    <p>Mission Type: <%= marsMissions.missionType %></p>
    <!-- <img src="<%= marsMissions.img%>"> -->
</body>
</html>